body {
    margin: auto;
    background: #f2f2f2;
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav {
    margin: 1em;
    max-width: 600px;
}

code {
    background: white;
}

a {
    border-bottom: 1px solid #181144;
    color: #181144;
    text-decoration: none;
}

h1 a {
    border-bottom: 0;
    color: inherit;
}

h3, h4, h5 {
    margin: 0 auto;
}

img {
    width: 100%;
}

figcaption {
    color: red;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
}

input[type="number"] {
    width: 4em;
}

.layerControl {
    padding: 0.5em;
    margin-bottom: 1em;
    border: dimgray 2px dashed;
}

td {
    min-width: 2em;
}

textarea {
    width: 100%;
}

svg {
    width: min(80vw, 90vh);
    height: min(80vw, 90vh);
}

figure {
    padding: 0.5em;
    background-color: black;
    width: min-content;
    height: min-content;
    margin: 1.5em 1em;
}


footer {
    margin-top: 5em;
}

.hidden {
    display: none;
}